@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
 
  
}

body{

  background-color: black;
  color: yellow;
  max-width: 500px;
  margin: auto auto;

}
h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#intaf{
  padding:15px;
  
  border: yellow 1px solid;
  background-color: rgb(57, 55, 55);
  color: wheat;
  width: 74%;
  
}

.btn{ 
  
  border: none;
  padding: 15px;
 
  cursor: pointer;
  background-color: rgb(192, 192, 13);
  color: #fff;
  transition: all 0.2s;
}

.btn:hover{
  background-color: wheat;
  color: yellow;
  transform: translateY(-3px);
}

.btn:active{
  background-color: yellow;
  color: #fff;
}
ul{
  padding: 0px;
}
li{
  background-color: blueviolet;
  color: #fff;
  list-style: none;
  padding: 10px;
  margin: 10px auto;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}